/* ServiceTrade Integration API
 *
 * 	Authors:
 *		Matthew Jones
 *		Robin Brandt
 *		Douglas Brandstetter
 */

/*! Makes document 100% device-width and overflow out the left and right sides hidden. */
html
{
	width: 100%;
	overflow-x: hidden;
}

/*! CSS for Homepage Modal *LOADING...* */

.loader:before,
.loader:after,
.loader {
  border-radius: 0;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: loading 1.8s infinite ease-in-out;
  animation: loading 1.8s infinite ease-in-out;
}
.loader {
  color: rgba(128, 128, 128, 0.8);
  font-size: 10px;
  position: absolute;
  top: 0;
  right:0;
  left: 0;
  bottom: 0;
  margin: auto;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes loading {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes loading {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}



body.loading
{ /*! This will hide the scrollbar while the body has the loading class. */
	overflow: hidden;
}

body.loading .modal
{ /*! This will make the modal visible when the body has the loading class. */
	display: block;
}

body.loading nav.navbar,
body.loading div#content,
body.loading div#search-box,
body.has-error div#search-box
{ /*! This is will make the viewbox and the navbar invisible while the loading modal is up. */
	display: none;
	visibility: hidden;
}


.navbar-default .navbar-collapse,
.navbar-form
{
	border: 0;
}
@media (min-width: 768px)
{

}
/*! END CSS for Homepage Modal */


/*! BEGIN ASSET BLOCK CSS */
.asset-list-item
{

}
.asset-list-item-property-hidden
{
	visibility: hidden;
	display: none;
}

.asset-property-list
{
	list-style: none;
	padding: 0px;
	display: table;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 15px 0px;
}
.asset-property-list li
{
	display: table-row;
	width: 100%;
}
.asset-property-list-item-label
{
	text-align: right;
}
.asset-property-list-item-label,
.asset-property-list-item-text
{
	display: table-cell;
	border-bottom: 1px solid black;
}

textarea[id^="input_notes-"]
{
	resize: none;
}

@media (min-width: 480px)
{
}
/*!  END  ASSET BLOCK CSS */