/* ServiceTrade Integration API
 *
 * 	Authors:
 *		Matthew Jones
 *		Robin Brandt
 *		Douglas Brandstetter
 */

/*! Makes document 100% device-width and overflow out the left and right sides hidden. */
html
{
	width: 100%;
	overflow-x: hidden;
}

/*! CSS for Homepage Modal *LOADING...* */
.modal
{
	background: rgba( 128, 128, 128, 0.8)
				url('../images/loading.gif')
				50% 50%
				no-repeat;
}

body.loading
{ /*! This will hide the scrollbar while the body has the loading class. */
	overflow: hidden;
}

body.loading .modal
{ /*! This will make the modal visible when the body has the loading class. */
	display: block;
}
body.loading .modal .loading-message
{
	position: absolute;
	top: 50%;
	left: 40%;
	right: 40%;
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
	color: white;
}
body.loading nav.navbar,
body.loading div#content,
body.loading div#search-box,
body.has-error div#search-box
{ /*! This is will make the viewbox and the navbar invisible while the loading modal is up. */
	display: none;
	visibility: hidden;
}


.navbar-default .navbar-collapse,
.navbar-form
{
	border: 0;
}
@media (min-width: 768px)
{

}
/*! END CSS for Homepage Modal */


/*! BEGIN ASSET BLOCK CSS */
.asset-list-item
{

}
.asset-list-item-property-hidden
{
	visibility: hidden;
	display: none;
}

.asset-property-list
{
	list-style: none;
	padding: 0px;
	display: table;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 15px 0px;
}
.asset-property-list li
{
	display: table-row;
	width: 100%;
}
.asset-property-list-item-label
{
	text-align: right;
}
.asset-property-list-item-label,
.asset-property-list-item-text
{
	display: table-cell;
	border-bottom: 1px solid black;
}

textarea[id^="input_notes-"]
{
	resize: none;
}

@media (min-width: 480px)
{
}
/*!  END  ASSET BLOCK CSS */