/* ServiceTrade Integration API
 *
 * 	Authors:
 *		Matthew Jones
 *		Robin Brandt
 *		Douglas Brandstetter
 */

/*! Makes document 100% device-width and overflow out the left and right sides hidden. */
html
{
	width: 100%;
	overflow-x: hidden;
}

/*! CSS for Homepage Modal *LOADING...* */
.modal
{
	background: rgba( 128, 128, 128, 0.8)
				url('../images/loading.gif')
				50% 50%
				no-repeat;
}

body.loading
{ /*! This will hide the scrollbar while the body has the loading class. */
	overflow: hidden;
}

body.loading .modal
{ /*! This will make the modal visible when the body has the loading class. */
	display: block;
}
body.loading .modal .loading-message
{
	position: absolute;
	top: 50%;
	left: 40%;
	right: 40%;
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
	color: white;
}
body.loading nav.navbar,
body.loading div#content,
body.loading div#search-box,
body.has-error div#search-box
{ /*! This is will make the viewbox and the navbar invisible while the loading modal is up. */
	display: none;
	visibility: hidden;
}
/*! END CSS for Homepage Modal */